<link rel="stylesheet" href="/css/edit.css" />

<% layout ("layouts/boilerplate.ejs") %>

<div class="edit-page row py-3 px-3">
  <div class="col-sm-10 offset-sm-1 offset-lg-3 col-md-10 col-lg-6">
    <h3 class="fs-5">Listing Id : <%= listing._id %></h3>
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input
          type="text"
          name="listing[title]"
          id="title"
          value="<%= listing.title %>"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
        <textarea
          type="text"
          name="listing[description]"
          id="description"
          class="form-control"
        >
<%= listing.description %></textarea
        >
      </div>

      <div class="mb-3">
        <img src="<%= listingImage %>" alt="listing_image" />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image : </label>
        <input type="file" name="listing[image]" id="image" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category : </label>
        <select
          name="listing[category]"
          id="category"
          class="form-select category"
          required
        >
          <option selected>
            <%= listing.category %>
            <span id="openToChange">&nbsp; &nbsp;-Open to change</span>
          </option>
          <option value="Rooms">Rooms</option>
          <option value="Beachfront">Beachfront</option>
          <option value="Trending">Trending</option>
          <option value="Farm">Farm</option>
          <option value="Lake">Lake</option>
          <option value="Historical homes">Historical homes</option>
          <option value="Mountain">Mountain</option>
          <option value="Amazing pools">Amazing pools</option>
          <option value="Amazing views">Amazing views</option>
          <option value="Design">Design</option>
          <option value="Surfing">Surfing</option>
          <option value="National park">National park</option>
          <option value="Campaign">Campaign</option>
        </select>

        <div class="valid-feedback">Done</div>
        <div class="invalid-feedback">Please choose category</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price : </label>
          <input
            type="number"
            name="listing[price]"
            id="price"
            value="<%= listing.price %>"
            class="form-control"
          />
        </div>

        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location : </label>
          <input
            type="text"
            name="listing[location]"
            id="location"
            value="<%= listing.location %>"
            class="form-control"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country : </label>
        <input
          type="text"
          name="listing[country]"
          id="country"
          value="<%= listing.country %>"
          class="form-control"
        />
      </div>

      <button class="btn btn-dark">Update</button>
    </form>
  </div>
</div>
