<% layout ("layouts/boilerplate.ejs") %>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const listing = JSON.parse(`<%- JSON.stringify(listings) %>`);
</script>

<div class="row mt-3 mb-3">
  <div class="col col-7 offset-3">
    <h4 class="card-title"><%= listings.title %></h4>
    <div class="card mt-3 listing-card">
      <img
        src="<%= listings.image.url %>"
        class="card-img-top mb-3"
        alt="listing_image"
      />
      <p class="card-text">
        Owned by: <i><b>@<%= listings.owner.username %></b></i>
      </p>
      <div class="card-body">
        <h5 class="card-text"><%= listings.description %></h5>
        <p class="card-text"><b><%= listings.location %></b></p>
        <p class="card-text"><b><%= listings.country %></b></p>
        <p class="card-text">
          <b>&#8377; <%= listings.price.toLocaleString("en-IN") %></b>
        </p>
      </div>
    </div>

    <% if (currUser && currUser._id.equals(listings.owner._id)) {%>

    <div class="buttons">
      <a href="/listings/<%= listings._id %>/edit" class="btn btns">Edit</a>
      <form action="/listings/<%= listings._id %>?_method=DELETE" method="post">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>

    <% } %> <% if (currUser) {%>
    <hr />
    <div class="mb-3 mt-3">
      <h4>Leave Your Comment :</h4>
      <form
        action="/listings/<%= listings._id %>/reviews"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3 mt-3">
          <fieldset class="starability-slot">
            <legend>Rating:</legend>
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="reviews[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>

        <div>
          <label for="comment" class="form-label">Comment :</label>
          <textarea
            name="reviews[comment]"
            id="comment"
            cols="30"
            rows="5"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please add some comments for reviews.</div>
        </div>

        <button class="btn btn-dark mt-3">Submit</button>
      </form>
    </div>
    <% } %> <% if(listings.reviews.length > 0) { %>
    <hr />
    <div class="row ms-3">
      <p><b>All Reviews:</b></p>
      <% for( review of listings.reviews) { %>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
          <p class="card-text"><%= review.comment %></p>
        </div>
        <form
          action="/listings/<%= listings._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="post"
          class="mb-3"
        >
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <div class="col col-7 offset-3">
    <h4>Where you'll be:</h4>
    <div id="map"></div>
  </div>
</div>
<script src="/js/map.js"></script>
